html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
}

footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: bold;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-clearfix:after {
  clear: both;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before,
.w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-row:before,
.w-row:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-row:after {
  clear: both;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-2 {
  width: 16.6667%;
}

.w-col-4 {
  width: 33.3333%;
}

.w-col-6 {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }

  .w-col-medium-4 {
    width: 33.3333%;
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }

  .w-col {
    width: 100%;
  }
}

.w-background-video {
  height: 500px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.w-slider {
  height: 300px;
  text-align: center;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #ddd;
  position: relative;
}

.w-slider-mask {
  z-index: 1;
  height: 100%;
  white-space: nowrap;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-slide {
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

.w-nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.w-nav:before,
.w-nav:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-menu {
  float: right;
  position: relative;
}

.w-nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.w-nav-button:focus {
  outline: 0;
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

:root {
  --black: black;
  --white: white;
  --medium-orchid-2: #9656a1;
  --grey: #404350;
  --light: #f2f4f8;
  --black-opacity: rgba(7, 15, 26, 0.1);
  --white-2: white;
  --charly-black: #27110f;
  --black-2: #070f1a;
  --light-grey: #95979b;
  --orange: #ffa185;
  --dark-grey: #1f2631;
  --pink: #e53170;
  --dark-orange: #ffa300;
  --charly-main: #335a9a;
  --ghost-white: #fff;
  --dim-grey: #7b7170;
  --tomato: #ff3939;
  --dodger-blue: #00a4ff;
  --blue: #6e71dc;
  --yellow: #f8ce6a;
  --white-opacity-light: rgba(255, 255, 255, 0.7);
  --white-opacity-hard: rgba(255, 255, 255, 0.3);
  --orange-opacity: rgba(255, 161, 133, 0.2);
  --medium-orchid: rgba(150, 86, 161, 0.1);
  --orange-2: black;
  --white-smoke: #f4f2f2;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #27110f;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 20px;
  overflow: visible;
}

h1 {
  letter-spacing: 0;
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 900;
  line-height: 1.4;
}

h2 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

h3 {
  color: var(--black);
  letter-spacing: -0.5px;
  text-indent: -1px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
}

h6 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}

p {
  color: var(--black);
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  background-color: var(--white);
  color: var(--medium-orchid-2);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

strong {
  font-weight: 600;
  line-height: 24px;
}

.footer-social-icons {
  margin-bottom: 12px;
  display: flex;
}

.footer-link {
  color: #27110f;
  margin-top: 20px;
  padding-right: 5px;
  line-height: 1.2;
  text-decoration: none;
  transition: opacity 0.1s ease-in-out;
  display: block;
}

.footer-link:hover {
  color: var(--charly-main);
  text-decoration: none;
}

.footer-link.text-small {
  margin-top: 10px;
  transition: color 0.4s;
  display: block;
}

.footer-link.text-small.w--current {
  display: block;
}

.white {
  color: var(--white-2);
}

.footer-social {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 10px;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  background-color: #fff;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

.text-medium {
  font-size: 18px;
  line-height: 22px;
}

.footer-columns {
  border-top: 2px #f2f4f8;
  justify-content: flex-end;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: block;
}

.footer {
  border-top: 1px solid var(--light);
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.brand-logo {
  order: -1;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
  transition: opacity 0.1s ease-in-out;
  display: flex;
}

.brand-logo:hover {
  opacity: 0.8;
}

.footer-links {
  display: block;
}

.section-header {
  margin-bottom: 60px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.center {
  text-align: center;
}

.cta-orange {
  background-color: var(--dark-orange);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.st-h2 {
  width: 80%;
  max-width: 1280px;
  text-align: center;
  letter-spacing: 0;
  text-indent: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
}

.st-h2.marginbottom {
  margin-bottom: 60px;
}

.column-4,
.column-5 {
  flex: 1;
}

.column-6 {
  flex: 0 auto;
}

.review-text-2 {
  min-height: 250px;
  background-color: #f2f4f8;
  border-radius: 15px;
  margin-bottom: 0;
  padding: 20px;
  overflow: hidden;
}

.review-text-2.text-medium {
  min-height: 284px;
  text-align: center;
  min-height: 260px;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
}

.testimonials {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.column-76 {
  display: block;
}

.naviigation-button {
  height: 40px;
  border: 2px solid var(--charly-main);
  background-color: var(--charly-main);
  color: var(--white);
  border-radius: 8px;
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 15px 40px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.4s;
  display: flex;
}

.naviigation-button:hover {
  border-style: solid;
  border-color: var(--white);
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
}

.div-block-114 {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.benefits-home {
  background-color: #fff;
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 100px;
}

.how-to-image-1 {
  width: 200px;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 1000px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  display: block;
  position: static;
}

.text-block-96 {
  max-width: 690px;
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
}

.how-to-image-2,
.how-to-image-3 {
  width: 200px;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 1000px;
  margin-bottom: 40px;
}

.text-block-96-copy {
  z-index: 4;
  width: 80%;
  max-width: 1280px;
  text-align: center;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  line-height: 26px;
  display: block;
  position: relative;
}

.text-block-96-copy.left-aligned {
  text-align: left;
  margin-left: auto;
  padding-left: 40px;
  display: block;
}

.column-92 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  position: static;
}

.slider-reviews-desktop {
  width: 80%;
  height: auto;
  max-width: 1280px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  margin: 100px auto 60px;
  transition: opacity 0.2s;
}

.review-container-3 {
  min-height: 0;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 9px rgba(39, 17, 15, 0.15);
}

.slide-6 {
  padding: 20px;
}

.slide-7 {
  padding: 20px;
  overflow: visible;
}

.footer-nav-bar-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  display: block;
}

.column-75-copy {
  display: block;
}

.div-block-142 {
  margin-bottom: 0;
  position: relative;
}

.st-small-title-above {
  color: var(--charly-main);
  text-align: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
}

.columns-41 {
  width: 80%;
  max-height: 100vh;
  max-width: 1280px;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin: 40px auto 0;
  padding-top: 0;
  padding-bottom: 100px;
  display: block;
  position: relative;
  overflow: visible;
}

.h1-st {
  color: var(--dark-orange);
  margin-bottom: 0;
  margin-right: -263px;
  padding-top: 0;
  padding-bottom: 20px;
  padding-right: 0;
  font-family: Poppins, sans-serif;
  font-size: 68px;
  line-height: 72px;
}

.video-column {
  z-index: 300;
  border-radius: 0;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  display: block;
  overflow: visible;
}

.st-primary-button-1 {
  height: auto;
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--charly-main);
  border-radius: 12px;
  flex: none;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  text-decoration: none;
  transition: font-size 0.3s, transform 0.4s, background-color 0.4s;
  display: flex;
}

.st-primary-button-1:hover {
  height: auto;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  transform: scale(1.02);
}

.st-primary-button-1:active {
  color: rgba(255, 111, 97, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.st-primary-button-1.dark {
  border-color: var(--charly-main);
  background-color: var(--charly-main);
  color: var(--white);
  text-align: center;
  justify-content: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 22px;
}

.st-primary-button-1.dark:hover {
  height: auto;
  border-color: var(--charly-main);
  color: var(--charly-main);
  background-color: rgba(0, 0, 0, 0);
  line-height: 22px;
}

.main-cta {
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 30px;
  display: inline-block;
  position: static;
}

.copy-st {
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
}

.copy-st.center {
  text-align: center;
}

.st-h4 {
  z-index: 4;
  width: 80%;
  max-width: 1280px;
  text-align: center;
  letter-spacing: 0;
  text-indent: 0;
  margin: 0 auto 20px;
  font-size: 40px;
  font-weight: 900;
  color: var(--dark-orange);
  line-height: 1.1;
  position: relative;
}

.st-h4.left-aligned {
  text-align: left;
  margin-bottom: 40px;
}

.mask-3 {
  opacity: 1;
  overflow: hidden;
}

.st-grid-benefits {
  width: 90%;
  max-width: 1280px;
  grid-column-gap: 28px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 60px auto 40px;
  padding-left: 0;
  padding-right: 0;
}

.bennefits-block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.navbar-studytogether {
  max-height: 100px;
  min-height: 100px;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  flex-wrap: nowrap;
  flex: 0 auto;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  transition: opacity 0.2s;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}

.nav-link {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  transition: opacity 0.4s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link:active {
  opacity: 1;
  text-decoration: underline;
}

.container-47 {
  width: auto;
  justify-content: flex-start;
  margin-right: 20px;
  display: flex;
}

.bold-text-50 {
  font-weight: 900;
  line-height: 29px;
}

.background-video-14 {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  overflow: visible;
}

.brand-4 {
  width: auto;
  background-color: rgba(0, 0, 0, 0);
}

.div-block-170-copy {
  width: 80%;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  display: flex;
}

.header-column {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.image-282 {
  opacity: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  border: 5 solid #000;
  width: 200px;
  border-radius: 50%;
  position: absolute;
}

.image-283 {
  border-radius: 50%;
  position: absolute;
}

.image-284 {
  border-radius: 50%;
}

.div-block-211 {
  width: 260px;
  height: 260px;
  border: 2px solid var(--white);
  border-radius: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px;
  transition: background-color 0.3s;
  display: none;
  position: relative;
  bottom: 20px;
  right: -181px;
  transform: rotate(10deg);
}

.div-block-211:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text-block-115 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  display: block;
}

.agenda-info-link-copy {
  color: #ff6f61;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: center;
  align-self: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 0.9;
  transition: opacity 0.3s;
  display: block;
}

.agenda-info-link-copy:hover {
  opacity: 0.7;
}

.bold-text-22-copy {
  color: var(--white);
  padding-right: 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
}

.study-rooms {
  padding-top: 60px;
  padding-bottom: 60px;
}

.columns-46 {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-229 {
  width: 70%;
  max-width: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.benefit {
  width: 30%;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.benefit-image {
  width: 60%;
  height: 200px;
  justify-content: center;
  display: flex;
}

.benefit-image._1 {
  width: auto;
  height: 200px;
  background-position: 50%;
  border-radius: 8px;
}

.benefit-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--charly-main);
}

.container-53 {
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 60px;
  display: flex;
}

.buttons-cta {
  align-items: flex-end;
  padding-bottom: 10px;
  display: flex;
}

.text-span-37 {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

.st-h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 34px;
  color: var(--charly-main);
}

.hero-description {
  color: var(--ghost-white);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.bold-text-56 {
  text-align: center;
  padding-left: 38px;
}

@media screen and (min-width: 1920px) {
  .cta-orange {
    background-color: var(--dark-orange);
  }

  .st-h2 {
    margin-bottom: 91px;
  }

  .st-h2.marginbottom {
    font-weight: 700;
  }

  .testimonials {
    padding-top: 10vh;
    padding-bottom: 0;
  }

  .slider-reviews-desktop {
    margin-top: 100px;
  }

  .st-small-title-above {
    margin-top: -40px;
  }

  .video-column {
    display: block;
  }

  .st-primary-button-1:hover {
    height: auto;
  }

  .st-primary-button-1.dark {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 22px;
  }

  .main-cta {
    flex-direction: column;
    align-items: flex-start;
  }

  .container-47 {
    width: auto;
  }

  .div-block-211 {
    display: none;
  }

  .benefits {
    background-image: none;
    padding-top: 0;
  }

  .benefit {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .benefit-image {
    width: 100%;
  }

  .benefit-image._1 {
    width: 100%;
    height: 100%;
  }

  .container-53 {
    max-width: 1600px;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
  }

  .buttons-cta {
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }

  h2 {
    text-align: center;
    font-size: 20px;
  }

  h3 {
    font-size: 26px;
  }

  h6 {
    font-size: 14px;
  }

  .text-small {
    font-size: 13px;
  }

  .wrapper {
    margin-top: auto;
  }

  .text-medium {
    font-size: 15px;
  }

  .footer-columns {
    flex-wrap: wrap;
  }

  .footer {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand-logo {
    order: -1;
  }

  .cta-orange {
    padding: 60px 20px 50px;
  }

  .st-h2 {
    margin-bottom: 40px;
  }

  .review-text-2.text-medium {
    min-height: 356px;
    min-height: auto;
    display: block;
    overflow: visible;
  }

  .testimonials {
    margin-top: 0;
    padding: 60px 20px;
  }

  .naviigation-button {
    display: none;
  }

  .text-block-96 {
    max-width: 290px;
  }

  .text-block-96-copy.left-aligned {
    width: 100%;
    text-align: center;
  }

  .column-92 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .slider-reviews-desktop {
    width: 100%;
    display: none;
  }

  .review-container-3 {
    display: block;
  }

  .slide-6 {
    padding: 0;
  }

  .slide-7 {
    padding: 0;
    position: relative;
  }

  .textwrapper1 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .footer-nav-bar-title {
    margin-top: 30px;
  }

  .st-small-title-above {
    margin-top: 0;
  }

  .columns-41 {
    max-height: none;
    flex-direction: row;
  }

  .h1-st {
    text-align: center;
    margin-right: 0;
    line-height: 70px;
  }

  .video-column {
    padding-top: 60px;
  }

  .st-primary-button-1 {
    justify-content: center;
  }

  .main-cta {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 40px;
    display: flex;
  }

  .copy-st {
    text-align: left;
    padding-bottom: 0;
  }

  .st-h4 {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 36px;
  }

  .st-h4.left-aligned {
    width: 90%;
    text-align: left;
  }

  .st-grid-benefits {
    grid-row-gap: 78px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
  }

  .menu-button-5 {
    color: var(--white);
    flex: 0 auto;
    order: 1;
  }

  .nav-menu-4 {
    background-color: var(--charly-main);
    background-image: linear-gradient(
      to bottom,
      var(--charly-main),
      var(--medium-orchid-2)
    );
  }

  .header-column {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .div-block-211 {
    margin-left: auto;
    margin-right: auto;
    position: static;
    bottom: 40px;
  }

  .div-block-229 {
    margin-left: auto;
    margin-right: auto;
  }

  .column-106 {
    margin-bottom: 60px;
  }

  .benefits {
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .benefit-image._1 {
    width: 100%;
    height: 200px;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
  }

  .footer-social-icons {
    text-align: left;
    margin-bottom: 10px;
    margin-left: -5px;
  }

  .footer-social {
    margin-left: 5px;
    margin-right: 5px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand-logo.footer-logo {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
  }

  .section-header {
    padding-bottom: 50px;
  }

  .cta-orange {
    padding-left: 20px;
    padding-right: 20px;
  }

  .st-h2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .review-text-2 {
    min-height: 0;
  }

  .review-text-2.text-medium {
    min-height: 115px;
  }

  .naviigation-button {
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  .text-block-96-copy {
    margin-bottom: 140px;
  }

  .column-92 {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .review-container-3 {
    margin-bottom: 20px;
  }

  .main-cta {
    align-items: center;
  }

  .copy-st {
    text-align: center;
  }

  .st-h4,
  .st-h4.left-aligned {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-studytogether {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu-4 {
    background-image: linear-gradient(
      to bottom,
      var(--charly-main),
      var(--medium-orchid-2)
    );
  }

  .div-block-211 {
    bottom: 60px;
    right: -240px;
  }

  .div-block-229 {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    margin-top: 0;
  }

  .text-medium {
    margin-bottom: 0;
    font-size: 16px;
  }

  .footer-columns {
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .brand-logo {
    max-width: 87.5px;
  }

  .brand-logo.footer-logo {
    width: 87.5px;
  }

  .section-header {
    padding-bottom: 0;
  }

  .center {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .cta-orange {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .st-h2 {
    text-align: center;
    margin: 10px auto 20px;
    font-size: 32px;
    line-height: 36px;
    display: block;
  }

  .st-h2.marginbottom {
    margin-bottom: 40px;
  }

  .st-h2.white {
    font-size: 24px;
    line-height: 30px;
  }

  .testimonials {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5vh 5%;
    overflow: visible;
  }

  .naviigation-button {
    height: 72px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    overflow: visible;
  }

  .div-block-114 {
    flex-direction: column;
    align-items: center;
  }

  .benefits-home {
    padding: 60px 10px 10px;
    overflow: hidden;
  }

  .text-block-96-copy {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-96-copy.left-aligned {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  .column-92 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
  }

  .slider-reviews-desktop {
    margin-bottom: 100px;
    display: none;
  }

  .review-container-3 {
    margin-bottom: 0;
    box-shadow: 0 0 9px rgba(39, 17, 15, 0.15);
  }

  .textwrapper1 {
    margin-bottom: 0;
  }

  .footer-nav-bar-title {
    margin-top: 24px;
  }

  .st-small-title-above {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .columns-41 {
    max-height: none;
    max-width: none;
    padding-bottom: 40px;
    position: static;
  }

  .h1-st {
    margin-top: -16px;
    font-size: 40px;
    line-height: 44px;
  }

  .video-column {
    margin-bottom: auto;
    padding-top: 40px;
    display: none;
  }

  .st-primary-button-1 {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .st-primary-button-1.dark {
    font-size: 18px;
  }

  .main-cta {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .copy-st.center {
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 0;
    display: block;
  }

  .st-h4 {
    text-align: center;
    margin: 10px auto 20px;
    line-height: 36px;
    display: block;
  }

  .st-h4.left-aligned {
    width: 100%;
  }

  .st-grid-benefits {
    grid-row-gap: 78px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
  }

  .bennefits-block {
    padding-left: 0;
    padding-right: 0;
  }

  .body-7 {
    overflow: visible;
  }

  .navbar-studytogether {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu-4 {
    background-image: linear-gradient(
      to top,
      var(--medium-orchid-2),
      var(--charly-main)
    );
  }

  .background-video-14 {
    height: auto;
    object-fit: contain;
    overflow: visible;
  }

  .container-49 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .div-block-170-copy {
    margin-top: 20px;
  }

  .header-column {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-211 {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: static;
    bottom: 10px;
    right: auto;
  }

  .columns-46 {
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-229 {
    width: 100%;
  }

  .column-106 {
    padding-left: 0;
    padding-right: 0;
  }

  .benefits {
    display: block;
  }

  .benefit {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .container-53 {
    flex-direction: column;
  }

  .buttons-cta {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}
